<!DOCTYPE html>
<html>
<head>
    <title>HTMX and Flask-SocketIO</title>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>
<body>
    <h1>HTMX and Flask-SocketIO Example</h1>

    <button hx-post="/emit_event" hx-swap="innerHTML" hx-target="#result">
        Send Event
    </button>

    <div id="result">Result will be displayed here.</div>
    <div id="result">Result will be displayed here.</div>
    
</body>
</html>
